Source: @DEBNAME@
Section: math
Priority: optional
Maintainer: OpenModelica Build System <build@openmodelica.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://openmodelica.org

Package: @DEBNAME@
Architecture: all
Depends: @DEPENDS@${misc:Depends}
Recommends: omc
Description: @NAME@ is a Modelica library
 @NAME@ is a Modelica library
